{% extends "././layout/base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/profile-index.css') }}"/>

<section class="profile-section">
	<div class="container">
		<div class="row">


			<div class="col-md-12">
				<img class="img-responsive img-circle " src="{{ url_for('static', filename='img/dp.png') }}" style="margin: 0 ;">
				<h2>{{ user.first_name }} {{user.last_name}}</h2>
				<h4><span style="color: #CD2A00;"><i class="fa fa-map-marker" aria-hidden="true"></i></span> Pasay City </h4>
			</div>
		</div>
		
		<div class="profile-content">
			<h2>{{ user.profession }}</h2>
				<span style="color: #FFBD2C;">
					<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" 	aria-hidden="true"></i>
				</span>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rhoncus urna neque viverra justo nec ultrices dui sapien eget.L</p>	
		</div>

		<div style="background-color: #ee7d31; height: 50px;" class="text-center">
			<h2 style="padding-top: 15px; color: #fff;">H I R E</h2>
		</div>
		
		<!-- <footer>
			<a href="#">Other services</a>
		</footer>	 -->	


	</div>	
	
</section>

{% endblock %}