{% extends "././layout/base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/profile-index.css') }}"/>

<section class="profile-section">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<img class="img-responsive img-circle" src="{{ url_for('static', filename='img/dp.png') }}">
			</div>
			<div class="col-md-4">
				<h2>{{ user.first_name }} {{user.last_name}}</h2>
				<h4><span style="color: #CD2A00;"><i class="fa fa-map-marker" aria-hidden="true"></i></span> Makati, Philippines</h4>
			</div>
		</div>
		
		<div class="profile-content">
			<h2>{{ user.profession }}</h2>
				<span style="color: #FFBD2C;">
					<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" 	aria-hidden="true"></i>
				</span>
			<p>I work in both commercial and residential settings to repair, install and maintain plumbing fixtures and systems for drainage, heating, drinking, venting and sewage. </p>	
		</div>

		<div>
			<h3>Php 300.00</h3>
			<h2>H I R E</h2>
		</div>


	</div>	
	
</section>

{% endblock %}