{% extends "././layout/base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/service.css') }}"/>
	<div class="container">	
		<div class="row">
			<div class="col-xs-6">
				<h2>Plumber</h2>
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star" 	aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
			</div>
			<div class="col-xs-6">
				<h3>Php 300 <input type="checkbox" name=""></h3>
				
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6">
				<h2>Plumber</h2>
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star" 	aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
			</div>
			<div class="col-xs-6">
				<h3>Php 300 <input type="checkbox" name=""></h3>
				
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6">
				<h2>Plumber</h2>
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star" 	aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
			</div>
			<div class="col-xs-6">
				<h3>Php 300 <input type="checkbox" name=""></h3>
				
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6">
				<h2>Plumber</h2>
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star" 	aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
			</div>
			<div class="col-xs-6">
				<h3>Php 300 <input type="checkbox" name=""></h3>
				
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-6">
			</div>
			<div class="col-xs-6">
				<h3>TOTAL</h3>
				<h1><span style="color: #FFBD2C;">Php 0.00</span></h1>
			</div>
		</div>	
	</div>		

	<div class="div-fixed">
		<a href="" class="">
			<button type="button" class="btn btn-avail">
				<h2><span style="color: #FFBD2C; font-size: 30px;">AVAIL</span></h2>
			</button>
		</a>
	</div>

	
{% endblock %}