{% extends "./layout/base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/qoute.css') }}"/>

	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<h2>TOTAL</h2>
			</div>
			<div class="col-xs-6">
				<h1>Php 600.00</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6">
				<h2>Plumber</h2>
			</div>
			<div class="col-xs-6">
				<h2>Php 300</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6">
				<h2>Tailor</h2>
			</div>
			<div class="col-xs-6">
				<h2>Php 300</h2>
			</div>
		</div>

		<div class="div-fixed">
			<a href="" class="">
				<button type="button" class="btn btn-avail">
					<h2><span style="color: #FFBD2C; font-size: 30px;">PAY</span></h2>
				</button>
			</a>
		</div>
	</div>

{% endblock %}