{% extends "./layout/base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}"/>
<section class="search-section">
	<div class="container">
		<div class="input-group">
			<div class="input-group-btn">
				<button type="button" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
			</div>	
			<input type="text" class="form-control" placeholder="Search for...">
			<div class="input-group-btn">
				<button type="button" class="btn btn-default"><i class="fa fa-microphone" aria-hidden="true"></i></button>
			</div>
		</div>

		<div class="container">
			<button type="button" class="btn pull-right" style="background: transparent">
				<img src="../static/img/map-icon1.png" width="100" height="100" alt="submit" />
			</button>
		</div>
	</div>
</section>

{% endblock %}