h4 {
	font-family: Montserrat;
	margin-top: 10px;
	margin-bottom: 5px;
	font-weight: bold;
	color: #000;
	font-size: 16px;
}

h3 {
	color: #FFBD2C;
	font-family: Montserrat;
	font-weight: bold;
	font-size: 20px;
}

h2 {
	margin-top: 40px;
	color: #135680;
	font-family: Montserrat;
	font-weight: bold;
	font-size: 20px;
}

img {
	width: 150px;
	height: 150px;
	text-align: center;
}

.profile-section {
	padding: 20px;

}

.profile-content p {
	color: #000;4
	font-size: 12px;
}

h3 {
	font-weight: bold;
}

footer {
	padding-top: 200px;
}

footer a {
	text-decoration: none;
	color: #FFBD2C;
	font-family: montserrat;
	font-weight: bold;
}

a:hover {
	text-decoration: none;
	font-weight: bolder;
}

i {
	color: #FFBD2C;
}