img {
	margin-top: 10px;
	width: 70px;
	height: 70px;
}

h3 {
	font-family: Montserrat;
	margin-bottom: 5px;
	font-weight: bold;
	color: #000;
	font-size: 16px;
}

h6 {
	font-family: Montserrat;
	margin-bottom: 5px;
	font-weight: bold;
	color: #000;
}

h2 {
	margin-top: 0;
	color: #135680;
	font-family: Montserrat;
	font-weight: bold;
}

.search-results-section {
	padding: 10px;
}
