.search-section {
	height: 100vh;
}

.input-group {
	margin-top: 150px;
}

.input-group-btn {
	border-color: #FFBD2C;
	box-shadow: 0 1px 6px rgba(57,73,76,.35);
}

.btn {
	border: 2px solid #FFBD2C;
}

.form-control {
	border: 2px solid #FFBD2C;
	height: 36px;
	box-shadow: 0 1px 6px rgba(57,73,76,.35);
}
#fixedbutton {
    position: fixed;
    bottom: 10px;
    right: 10px; 
}

.map-btn {
	border: 1px solid transparent;
}