.search-section {
	height: 100vh;
}

.input-group {
	margin-top: 10px;
	position: absolute;
	width: 90%;
	top: 40%;
}

.input-group-btn {
	/*border-color: #FFBD2C;*/
	box-shadow: 0 1px 6px rgba(57,73,76,.35);
}

.btn {
	border: 2px solid #FFBD2C;
}

.form-control {
	border: 2px solid #FFBD2C;
	height: 36px;
	box-shadow: 0 1px 6px rgba(57,73,76,.35);
}
#fixedbutton {
	border-radius: 50%;
	padding: 0;
    position: fixed;
    bottom: 25px;
    right: 25px; 
}

#fixedbutton:active, #fixedbutton:focus {
	outline: none;
}

.map-btn {
	border: 1px solid transparent;
}

.back-to-map {
	text-decoration: none;
}