img {
	width: 50px;
	height: 50px;
}

h3 {
	font-family: Montserrat;
	margin-top: 10px;
	margin-bottom: 5px;
	font-weight: bold;
	color: #000;
}

h2 {
	margin-top: 0;
	color: #135680;
	font-family: Montserrat;
	font-weight: bold;
}

.search-results-section {
	padding: 20px;
	margin: 20px;
	border: 2px solid #eee;
}