.top-nav {
	width: 100%;
	height: 60px;
	background-color: #fff;
	/*border-bottom: 1px solid lightgray;*/
	box-shadow: 0 2px 6px rgba(57,73,76,.35);
}	

.navigator-btn {
	color: #ffbd2c;
	background-color: #fff;
	padding: 0;
	border: 0;
	margin-top: 18px;
	margin-right: 20px;
}

.navigator-btn:focus, .navigator-btn:active {
	outline: none;
}

.proj-logo {
	height: 20px;
	width: 100px;
	margin-top: 20px;
	margin-left: 20px;
}

#cbp-spmenu-s2 {
	background-color: #fff;
	box-shadow: 0 -15px 5px grey;
}

.side-top {
	background-color: #fff;
	height: 200px;
}

.dp {
	height: 150px;
	width: 150px;
	margin: 50px 0 20px 45px;
}

#cbp-spmenu-s2 a {
	color: gray;
	text-decoration: none;
}

#cbp-spmenu-s2 a:active, #cbp-spmenu-s2 a:focus {
	color: gray;
	text-decoration: none;
	background-color: lightgray;
}

.top-nav a {
	text-decoration: none;
}

#map {
	height: 550px;
	width: 100%;
}

.footer {
	margin-top: 100px;
	background-color: #4a4a4a;
	padding: 30px;
	text-align: center;
	color: #fff;
}

/*.search-board {
	width: 100%;
	text-align: center;
	background-color: #4a4a4a;
	position: fixed;
	bottom: 0;
}*/

.search-board {
	width: 100%;
	text-align: center;
	background-color: none;
	position: fixed;
	top: 60%;
}

.search-board-container {
	position: fixed;
	top: 60px;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	width: 100%;
}

.search-board input[type=text] {
	padding: 5px;	
	margin: 5px;
	border-radius: 3px;
	border: 0;
	height: 70px;
	width: 270px;
	font-size: 25px;
	padding-left: 10px;
}

.search-btn {
	height: 70px;
	width: 70px;
	border-radius: 50%;
	background-color: #ee7c18;
	color: #fff;
	border: 5px solid #ee7c18;
	padding: 3px;
	font-size: 35px;
	position: fixed;
	/*bottom: 100px;*/
	top: 80%;
	/*background-color: blue;*/
	left: 40%;
	box-shadow: 0 5px 3px gray;
}

.name-link {
	color: #4a4a4a;
	text-decoration: none;
}

.cbp-spmenu-vertical a {
	border-bottom: 0;
}
